<!DOCTYPE html>
<html ng-app="loanWidget">
  <head>
    <meta charset="utf-8">
    <title>Loan Widget</title>

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="styles/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="styles/main.css"></link>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Load angular and app file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="https://github.com/shjang1007" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-github fa-fw fa-1x"></i>Github
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/briansjang" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin-square fa-fw fa-1x"></i>LinkedIn
          </a>
        </li>
        <li>
          <a href="http://brianjang.us/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-folder-o fa-fw fa-1x"></i>Portfolio
          </a>
        </li>
      </ul>
    </header>
    <h1>Loan Calculator</h1>
    <main ng-controller="MainCtrl">
      <ul ng-repeat="intRate in intRates">
        <li>{{ intRate.loan }}: {{ intRate.rate }}</li>
      </ul>

      <section class="card-container">
        <div id="card" ng-class="{flipped: isFlipped}">
          <figure class="front">
            <form>
              <p ng-show="invalidSubmit">You must fill in all the things!</p>
              <label for="loan-amount">
                Loan Amount:
                <input id="loan-amount" type="number" ng-model="loanData.loanAmount">
              </label>
              <label for="interest-rate">
                Interest Rate:
                <input id="interest-rate" type="number" ng-model="loanData.interestRate">
              </label>
              <label for="loan-period">
                Loan Period:
                <input id="loan-period" type="number" ng-model="loanData.loanPeriod">
              </label>

              <button type="button" ng-click="handleSubmit()">Calculate</button>
            </form>
          </figure>
          <figure class="back">
            {{ monthlyPayment | currency }}
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels"
              chart-options="options" chart-series="series"></canvas>
            <button type="button" ng-click="isFlipped = !isFlipped">Return to Data</button>
          </figure>
        </div>
      </section>
    </main>
  </body>
</html>
