<!DOCTYPE html>
<html ng-app="loanWidget">
  <head>
    <meta charset="utf-8">
    <title>Loan Widget</title>

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="styles/reset.css"></link>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Load angular and app file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="https://github.com/shjang1007" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-github fa-fw fa-1x"></i>Github
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/briansjang" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin-square fa-fw fa-1x"></i>LinkedIn
          </a>
        </li>
        <li>
          <a href="http://brianjang.us/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-folder-o fa-fw fa-1x"></i>Portfolio
          </a>
        </li>
      </ul>
    </header>
    <h1>Loan Calculator</h1>
    <main ng-controller="MainCtrl">
      <ul ng-repeat="intRate in intRates">
        <li>{{ intRate.loan }}: {{ intRate.rate }}</li>
      </ul>

      <form>
        <label for="loan-amount">
          Loan Amount:
          <input id="loan-amount" type="text" ng-model="loanAmount">
        </label>
        <label for="interest-rate">
          Loan Amount:
          <input id="interest-rate" type="number" ng-model="interestRate">
        </label>
        <label for="loan-period">
          Loan Amount:
          <input id="loan-period" type="number" ng-model="loanPeriod">
        </label>

        <button type="button" ng-click="">Calculate</button>
      </form>
    </main>
  </body>
</html>
